@import "tailwindcss";

@theme {
	--color-violet-50: initial;
	--color-red-*: initial;
	--color-amber-*: initial;
	--color-abc: #abcabc;
	--color-def: #defdef;
	--color-ghi: #641641;
	--color-jkl: #141141;
}
